html, body{
    margin: auto;
}

/* .container_home{
    position: absolute;
    z-index: -1;
    overflow: scroll;
} */
.aya{
    position: absolute;
    
}
.tools{
    background-color: #f7f7f8;
    width: 75px;
    height: 150px;
    margin: 10px 0 0 10px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    border: 1px #e0e0e0 solid;
    position: fixed;
}

.tools_text{
    text-align: center;
    border-bottom: 1px #e0e0e0 solid;
    margin-bottom: 3px;
}
.rect{
    width: 25px;
    height: 22px;
    text-align: center;
    /* display: inline-block; */
    font-size: 22px;
    margin: 0 1px 1px 24px;
    border-radius: 4px;
    cursor: default;
    background-color: #f7f7f8;
    border: 1px solid black;
    /*box-shadow: 0 0 2px 1px black;*/
    pointer-events: all;
    vertical-align: middle;
}
.circ{
    width: 22px;
    height: 22px;
    text-align: center;
    /* display: inline-block; */
    font-size: 22px;
    margin: 5px 2px 2px 25px;
    border-radius: 15px;
    cursor: default;
    background-color: #f7f7f8;
    border: 1px solid black;
    /*box-shadow: 0 0 2px 1px black;*/
    pointer-events: all;
    vertical-align: middle;
}

.loz{
    width: 22px;
    height: 22px;
    text-align: center;
    /* display: inline-block; */
    font-size: 22px;
    margin: 10px 2px 2px 24px;
    cursor: default;
    background-color: #f7f7f8;
    border: 1px solid black;
    /*box-shadow: 0 0 2px 1px black;*/
    pointer-events: all;
    vertical-align: middle;
    transform: rotate(45deg);
}

/* .tool_panel{
    visibility: hidden;
}
.component_panel{
    display: inline-block;
}

.tool_panel{
    display: inline-block;
} */

#field-text{
    visibility: hidden;
    position : absolute;
    width : 50px;
    height : 10px;
    overflow : visible;
    border : 1px solid rgb(204, 204, 204);
    background-color : rgba(255, 255, 255);
    box-sizing : border-box;
    overflow-wrap : normal;
    text-align : center;
    outline : currentcolor none medium;
}

#field-text input{
    width: 100%;
}

.file{
    width: 250px;
    height: 20px;
    margin: 10px 0 0 90%;
    /* box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19); */
    position: fixed;
}